@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


#page-top {
  margin-bottom: 2em;
}

body {
  background-color: #ffffff;
  font-family: 'D-DIN', sans-serif, FontAwesome;
}

.testsClass {
  margin-top: 80px;
  border: 2px solid hsl(240, 1%, 16%);
  height: 80vh;
  width: 100vw;
  background-color: #3598dc;
}

/* container */
.mycontainer {
  border-radius: 15px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  left: 10%;
  width: 80%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  /*  used by signin */
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerContainer {
  margin-top: 19rem;
  height: auto;
  width: 50%;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 25%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  margin-bottom: 5rem;

}

.home-section {
  padding: 60px;
}

.centerContainerVin {
  margin-top: 19rem;
  height: auto;
  width: 50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.363);
  position: relative;
  left: 25%;
  margin-bottom: 5rem;

}

.centerContainerVin:hover {
  background: #ffffff;
  border-radius: 50px;
  transition: all 0.3s ease;


}

.col-xs-1 {
  text-align: center;
}

.admin-container{
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
  padding: 3rem;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 35vh;
}
.buttonAdmin{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#adminButton{
  background-color: rgb(37, 37, 37);
  border-color: gray;
  padding: 10px 20px 10px 20px;
}
.headerAdmin{
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(37, 37, 37);
  margin-top: 40px;
}
/*PIN LOGIN*/
.pin-code{ 
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content:center;
  
} 
 
.pin-code input { 
  border: none; 
  text-align: center; 
  width:35px;
  height:35px;
  font-size: 20px; 
  background-color: rgba(221, 220, 220, 0.26);
  margin-right:5px;
  font-family: 'dotsfont';
  border-radius: 50%;
} 

.pin-code input:focus { 
  border: 1px solid #307185;
  outline:none;
} 
.pin{
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(36, 35, 35);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@font-face{
  font-family: 'dotsfont';
  src: url('dotsfont.ttf') format('truetype');

}

/*Sign In*/
.signinform {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(255, 255, 255);
  height: 80vh;
}

.halfImage img {
  height: 100%;
  width: 100%;
}

.form {
  margin-top: 50px;
  background-color: #fffdfd;
  padding: 100px;
 width: 100%;
  min-height: 600px;
}

.boxShadow {
  background: #f5f2f2;
  box-shadow: none !important;
  border: none;
  border-radius: 20px;
  padding: 20px;
}

.boxShadow:focus {
  border-color: #64c1ff !important;
  outline: none;
}

.parag {
  text-align: center;
  font-size: 15px;
}

.form h1 {
  text-align: center;
  font-size: 37px;
  color: #29a5a3;
}

.parag {
  text-align: center;
  font-size: 15px;
}

.new {
  text-align: center;
}

.boxShadow {
  background: #f5f2f2;
  box-shadow: none !important;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  display: block;
}

.signin-submit {
  background-color: #1fcecb;
}

.new {
  text-align: center;
}

.successVin {
  margin-top: 20px;
}

.success {
  padding: 25px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagehandler {
  height: 150px;
  width: 150px;
}

.imagehandler img {
  height: 100%;
  width: 100%;
  background-color: rgb(7, 228, 184);
  border-radius: 100px;
  padding: 10px;

}
#pepe2{
  margin-bottom: 20px;
}
#pepeMo1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.8rem;
  color: black;
 
}
#pepeMo{
  margin-bottom: 10px;
  font-size: 20px;
  color: #444;
  font-weight: 400;
}
/* user type signin */
.userType {
  margin-top: 18rem;
  height: 100%;
  width: 100%;

}

.whologin {
  border-radius: 35px;

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.v1 {
  position: relative;
  top: 10%;
  border-left: 5px solid #6bd4cd;
  height: 80%;

}

.type {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 600ms;
}

.type:hover {
  transform: scale(1.1);
}

.icon {
  width: 70%;
  background-position: 50%;
  opacity: 1;
}

/* Category design */
.category {
  background-color: white;
  margin: 0 auto;
  padding: 5rem 4.375rem 2.5rem;
}

.card-container {
  max-width: 50%;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 5.625rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  margin: 0 auto;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  height: 17.00rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: transform 600ms;
}

.card:hover {
  transform: scale(1.1);
}

.card-name {
  color: rgba(53, 52, 52, 0.849);
  font-size: 1.3rem;
  height: auto;
  padding: 0.16rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 550;
  letter-spacing: 0.5px;


}
#fontawesomeSpace{
  margin-right: 10px;
  color: #3fbbc0;
}
#fontawesomeSpacee{
  margin-left: 10px;
  margin-right: 10px;
  color: #3fbbc0;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 30px;


}

.call {
  color: rgb(70, 216, 221);

}

.card_logo {
  background-image: url("../src/image/General\ Medicine.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
}

.card-image-1 {
  background-image: url("../src/image/General\ Medicine.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;

}

.card-image-2 {
  background-image: url("../src/image/Neurology.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-3 {
  background-image: url("../src/image/Hearth\ and\ Cardiology.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-4 {
  background-image: url("../src/image/kidney\ and\ urine.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-5 {
  background-image: url("../src/image/OB-GYN\'s.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-6 {
  background-image: url("../src/image/Ophthalmology.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-7 {
  background-image: url("../src/image/Dermatology.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-8 {
  background-image: url("../src/image/Dentistry.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s1 {
  background-image: url("../src/image/Blood\ Chem.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s2 {
  background-image: url("../src/image/Urinalysis.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s3 {
  background-image: url("../src/image/PCR\ testing.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s4 {
  background-image: url("../src/image/Saliva\ Test.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s5 {
  background-image: url("../src/image/X-Ray.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s6 {
  background-image: url("../src/image/Physical\ Therapy.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s7 {
  background-image: url("../src/image/CT\ Scan.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

.card-image-s8 {
  background-image: url("../src/image/Mental\ Health.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 85%;
}

/* Service register screen */
.accordion {
  background-color: #ffffff;
  margin-bottom: 10px;
  color: rgb(53, 53, 53);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  font-weight: 550;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  letter-spacing: 1.6px;
  color: rgb(82, 80, 80);
}

/*doctor page*/
.containerWhole {
  font-family: 'Rubik', sans-serif;
}

.flex-doctor-info {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 250px;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
}

.flex-doctor-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.flex-doctor-desc button {
  margin-top: 10px;
}

.headerBook {
  text-transform: uppercase;
  font-weight: bold;
}

.top-doctor-page {
  display: flex;
  flex-direction: row;
}

.category-dropdown {
  width: 200px;
}

.cardBook {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 80px;
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;


}

.flex-doctor-info {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.966) 0px 0px 0px 1px inset;
}

.cardBook .price {
  background: #1accbd14;
  padding: 30px;
  border-radius: 20px;
  width: 200px;
  margin-left: 30px;

}

.containerWhole .flex-row {
  box-shadow: rgba(68, 68, 68, 0.144) 0px 2px 15px;
  border-radius: 10px;
  margin: 0 1px 0;
  text-align: center;
}

.cardBook .flex-column p {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 15px;

}

h5 span {
  color: #869099;
}

@media screen and (max-width: 450px) {
  .card {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .price {
    border: none;
    margin: 0 auto;
  }
}

.bookImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.textBookHeader {
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 20px;

}

.flex-column p {
  font-weight: 700;
}

.cardBook .text-muted {

  font-weight: 400;
  letter-spacing: 1px;
}

#buttonBook {
  padding: 10px;
  width: 40%;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.7s;
  color: #fff;
  background-color: #40d2e6d5;
  border-color: #ffffff;
}

#buttonBook:hover {
  transform: scale(1.1);
  background-color: rgb(77, 216, 197);
}

#buttonView {
  padding: 10px;
  width: 40%;
  border-radius: 50px;
  transition: transform 0.7s;
  color: #fff;
  background-color: #40d2e6d5;
  border-color: #ffffff;

}

#buttonView:hover {
  transform: scale(1.1);
  background-color: rgb(77, 216, 197);
}

#form3 {
  margin-right: 20px;
  border-color: rgba(255, 255, 255, 0.116);
}

/*Doctor view screen page*/

.bobo {
  text-align: center;
  font-size: 25px;
  letter-spacing: -1px;

}

.bobo2 {
  text-align: center;
  font-size: 23px;
  letter-spacing: -1px;

}

.bobo3 {
  text-align: center;
  font-size: 15px;
  letter-spacing: -1px;
  color: #73747581;
}

.bobo4 {
  margin-bottom: 100px;
}

#bobo5 {
  background-color: #40d2e6d5;
  border-color: #ffffff;
  border-radius: 0px 5px 5px 0px;
  transition: transform 0.7s;
  padding: 10px;
}

#bobo5:hover {
  transform: scale(1.1);
  background-color: rgb(77, 216, 197);
}

.pagination-outer {
  text-align: center;
  ;
}

.pagination {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  position: relative;

}

.pagination li a.page-link {
  color: #555;
  background: #eee;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 10px;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.4s;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background: #256596;
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
  content: '';
  background-color: #256596;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease-in 0s;
}

.pagination li a.page-link:after {
  transition: all 0.3s ease-in 0.2s;
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after {
  opacity: 0;
  transform: scale(1);
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .pagination {
    font-size: 0;
    display: inline-block;


  }

  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;

  }
}

.wew {
  padding: 10px;
}

.active,
.accordion:hover {
  background-color: rgb(243, 241, 241);
}

.accordion-item {
  margin-top: 10px;
  padding: 0 18px;
  background-color: white;
  display: block;
  overflow: hidden;

}

.accordion:after {
  content: '\02795';
  font-size: 16px;
  color: rgb(215, 202, 202);
  float: right;
  margin-left: 5px;

}

textarea {
  margin-right: 10px;
  width: inherit;
  min-width: 99.9%;
}

.leftSubmit {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}


/*User Register Screen*/
.bodyform {
  color: #fff;
  background: #3598dc;
  font-family: 'Verdana', sans-serif;
}

.form-control {
  font-family: 'D-DIN', sans-serif, FontAwesome;
  height: 41px;
  letter-spacing: 1.2px;
  background: #ffffff;
  box-shadow: none !important;
  border-style: rgb(0, 0, 0);
  border-width: 1px;
  font-weight: 500;

}

.form-control-bobo {
  width: 100%;
  border: solid 1px rgb(240, 234, 234);
  border-radius: 10px 0px 0px 10px;

}

.form-control-bobo:focus {
  border-color: #64c1ff !important;
  outline: none;
}



.form-control,
.btn {
  border-radius: 3px;
}

.signup-form {
  padding-top: 15rem;
  padding-bottom: 10rem;
  width: 80%;
  margin: 30px auto;
  margin-bottom: 0;

}

#calendarHeader {
  text-align: center;
  margin-top: 10px;
}

.signup-form form {
  color: rgb(121, 118, 118);
  border-radius: 10px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  height: 100%;
}


/*calendar*/

.CalendarContainer {
  margin-top: 17rem;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  height: 100%;
}

.CalendarMain {
  width: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.252);
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
#calendarButton{
display: block;
margin: 0 auto;
margin-bottom: 50px;
padding:10px;
width: 25%;
font-size: 15px;
background-color: #3fbbc0;
border-color: #3fbbc0;
border-radius: 10px;
}

.rbc-toolbar {
  color: rgb(9, 8, 8);
  font-weight: 600;
}

.rbc-toolbar .rbc-toolbar-label {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
  color: #444;

}

.rbc-off-range-bg {
  background-color: white;
}

/*calendar*/
.signup-form h2 {
  color: rgba(51, 51, 51, 0);
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
  margin-top: 3px;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}

.signup-form .row div:last-child {
  padding-left: 10px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #2389cd !important;
  outline: none;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #3598dc;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.signup-form .hint-text {
  padding-bottom: 20px;
  text-align: center;
}

.rowh {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-steps>div.active {
  border-top-color: #3598dc;
  color: #3598dc;
}

.checkout-steps>div {
  margin-top: 5px;
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.hint-text a {
  color: #5CBCC0;
}

.heads {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.option-header {
  display: flex;
  justify-content: space-between;
}

.option-header input {
  margin-right: 7.5em;
}

.option {
  margin-right: 7em;
}

.privacy {
  text-align: center;
}

/*doctor profile and book*/
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h6.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #888b92;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #444;
  font-size: 2.2rem;
  font-weight: 600;
}

.account-settings .about h6 {
  margin: 0 0 15px 0;
  color: #444;
  font-size: 2.rem;
  font-weight: 600;
}



.account-settings .about p {
  font-size: 1.5rem;
  color: #888b92;


}

.form-control {
  border: 1px solid #cfd1d8;
  font-size: 1.5rem;
  background: #ffffff;
  color: #2e323c;
  border-radius: 20px;

}
#userprof{
  margin-bottom: 20px;
  margin-top: 30px;
  color: #000;
}
#userprof1{
  font-size: 15px;
  color: #888b92;}
  #userprof2{
    font-size: 20px;
    color: #444;}

.pard {
  background: #ffffff;
  margin-top: 150px;
  margin-bottom: 5rem;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.pard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.pard_2:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.pard_3:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.pard_4:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

#submitJonathan {
  padding: 10px;
  text-align: center;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.text-right-jonathan {
  text-align: center;
}

.pard_2 {
  background-color: #ffffff;
  margin-top: 150px;
  margin-bottom: -10rem;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;


}

.pard_3 {
  background-color: #ffffff;
  margin-top: 150px;
  margin-bottom: -10rem;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;


}

.checkicona {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  align-items: center;
}

.checkiconb {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  align-items: center;
  display: none;
}

.mod {
  text-decoration: line-through;
}

.doctop {
  margin-bottom: 10px;
}

.docAvailOnline {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin: 10px;
  width: auto;
  text-align: center;
}

.availOnline {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
#bookDoctorFont{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.0rem;
  font-family: 'D-DIN', sans-serif;

}
#bookDoctorwew{
  list-style: none;
}
#bookDoctorwew1{
  list-style: none;
  margin-left: 10px;
}
.docAvailOffline {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin: 10px;
  width: auto;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.off {
  border: 2px solid black;
}

/*Chatbot*/
.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  transition:  2s ease-out;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all .5s ease-in-out;
  font-family: 'Varela Round', sans-serif;
  
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
  

}

.chatbox--inactive {
  display: none;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

/* HEADER */
.chatbox__header {
  top: 0;
  background: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column-reverse;
  
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-right: auto;
}

.messages__item--visitor {
  margin-left: auto;
}

/* FOOTER */
.chatbox__footer {
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
html {
  --primaryGradient: #3fbbc0;
  --secondaryGradient: #ffff;
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary: #3fbbc0;
}

/* 300;0,400;0,600;1,300 */



.chatbox__support {
  background: #ffffff;
  height: 450px;
  width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox_content--header {
  margin-top: 20px;
}

#colorHeaderChatBot {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}



/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #caf0f8;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #63c1d2;
  color: white;

}

#colorh2 {
  color: black;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgb(238, 242, 242);
  margin-top: 20px;
  color: #3fbbc0;
  font-weight: 600;
}

.chatbox__footer input {
  border: 0.5px solid #f5f7f7a1;
  ;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Varela Round', sans-serif;
  width: 100%;

}


.chatbox__send--footer {
  color: white;

}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*Calendar*/
#calendar {
  width: 80%;
  margin-left: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.252);
  padding: 15px;
  background: #fff;
}

#calendar-container {
  position: fixed;
  top: 0%;
  text-align: center;
  left: 10%;
  right: 10%;
  bottom: 20%;
}


#userTypeRes{
  font-family: 'D-DIN', sans-serif;
  font-weight: 500;
  margin-top: 10px;
}
#qNumber{
  color: #0034BB;
  font-weight:600;
  font-size: 20px;
}
/*Trial */
@media only screen and (max-width: 760px) and (max-width:1250px) {
  .table-wrapper {
    overflow-x: auto;
    width: 120vh;
  }

  .tableform{
    margin-top: 5.6rem;
    margin-bottom: 0.1rem;
  }

  #userTypeRes {
    font-size: 20px;
  }

  .centerContainer {
    left: 0%;
    width: 100%;
    border-radius: 0px;
    padding: 40px;
    margin-bottom:0;
    margin-top:160px
  }
.form{
  width: 100%;
}
  .signinform {
    background-color: rgb(255, 255, 255);
    grid-template-columns: 0% 100%;
    width: 100%;
  }

  .boxShadow {
    font-size: 12px;
    text-align: center;
  }

  .CalendarMain {
    overflow: auto;
    width: 80%;
  }
  #calendarButton{
    font-size: 10px;
    width: 50%;
    
  }
}

.alert-danger {
  background-color: rgba(230, 64, 64, 0.692);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'D-DIN', sans-serif;
  font-size: 15px;
  text-align: center;
}

.table-wrapper {
  background: rgb(255, 255, 255);
  padding: 8px 25px;
  margin: 30px 0;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 10px;

}

.table-title {
  padding-bottom: 15px;
  background: #3fbbc0;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;

}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.3px;
  font-weight: 550;

}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}


.hint-text {

  font-size: 13px;
  font-size: 15px;
  margin-left: 20px;

}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}

.custom-checkbox label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  border-color: #1d1d1c;
  background: #282829;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}

.tableform {
  margin-top: 14rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  ;

}

.form-control,
.btn {
  border-radius: 5px;
}

#colorBlue {
  background-color: #3fbbc0;
  border-color: #3fbbc0;
}

#colorBlue:hover {
  background-color: #339da1;
  border-color: #3fbbc0;
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 5px;
}

.tabmain {
  display: flex;
  justify-content: space-around;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* New Doctor Screen */

#verified{
  color: rgb(6, 212, 6);
  margin-right: 5px;
  font-size: 25px;
  
}




.tanginamo {
  width: 100%;
  border: none;
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 1.5rem;
  background-color: var(--clr-primary);
  font-family: 'D-DIN', sans-serif;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5px;
}
.tanginamo:hover{
  background-color: rgb(38, 174, 176);
  color: white;
}
#nametag{
  font-size: 3rem;
  margin-bottom: 5px;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  font-family: 'D-DIN', sans-serif, FontAwesome;

  margin-top:5rem;

  padding: 10px 20px 0px 20px;
  
}

.cardo {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  
}

.cardo:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.5s;
}

.cardo .price{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top:20px;
  right: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.cardo .price:hover{
background-color:#38adb1;
color: white;
padding: 5px 30px;
border-radius: 20px;
}

.cardo .online{
background-color:#38adb1;
color: white;
padding: 5px 20px;
position: absolute;
top:20px;
left: 20px;

border-radius: 20px;
}
.cardo .occupation{
margin-top: 5px;
color: #888;
text-align: center;
margin-bottom: 5px;
}

.cardo .skills{
display:flex;
flex-wrap: wrap;
padding:10px;
justify-content: center;}

.cardo .skills a {
  text-decoration: none;
  padding: 7px 10px;
  border:1px solid #888;
  color: #888;
  border-radius: 20px;
  font-size: 18px;
  margin: 10px;
  font-weight:500;
}

.cardo .about{
color: #888;
padding: 0 20px;
display:block;
text-align: center;
font-size: 20px;
margin-bottom: 10px;
}
.cardo .about2{
color: #888;
padding: 0 20px;
display:block;
text-align: center;;
margin-bottom: 20px;
}


.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  clip-path: circle(60px at center);
  margin-top: 3.5rem;
  margin-bottom: 10px;
}


.name {
  font-weight: bold;
  font-size: 1.5rem;
}


.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}




@media screen and (min-width: 500px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 760px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.s003 {
  margin-top: 150px;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.s003 form {
  width: 100%;
  max-width: 790px;
}

.s003 form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.s003 form .inner-form .input-field {
  height: 68px;
}

.s003 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #555;
}

.s003 form .inner-form .input-field input.placeholder {
  color: #888;
  font-size: 16px;
}

.s003 form .inner-form .input-field input:-moz-placeholder {
  color: #888;
  font-size: 16px;
}

.s003 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #888;
  font-size: 16px;
}

.s003 form .inner-form .input-field input:hover,
.s003 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #fff;
}

.s003 form .inner-form .input-field.first-wrap {
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.s003 form .inner-form .input-field.first-wrap .choices__inner {
  background: transparent;
  border-radius: 0;
  border: 0;
  height: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  color: #888;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #555;
}

.s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
  right: 30px;
  border-color: #e5e5e5 transparent transparent transparent;
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
  border: 0;
  background: #fff;
  padding: 20px 30px;
  margin-top: 2px;
  border-radius: 4px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #fff;
  color: #63c76a;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
  color: #555;
  min-height: 24px;
}

.s003 form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s003 form .inner-form .input-field.third-wrap {
  width: 74px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: rgb(160, 159, 159);
  border: 0;
  cursor: pointer;
 color: #3fbbc0;
  transition: all .2s ease-out, color .2s ease-out;
}

.s003 form .inner-form .input-field.third-wrap .btn-search svg {
  width: 16px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #3fbbc0;
  color: white;
}

.s003 form .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 500px) {
  .s003 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 760px) {
  .s003 form .inner-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
  }

  .s003 form .inner-form .input-field {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .s003 form .inner-form .input-field input {
    padding: 10px 15px;
  }

  .s003 form .inner-form .input-field.first-wrap {
    width: 100%;
    border-right: 0;
  }

  .s003 form .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }

  .s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 11.5px;
    border-color: #e5e5e5 transparent transparent transparent;
  }

  .s003 form .inner-form .input-field.second-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .s003 form .inner-form .input-field.second-wrap input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .s003 form .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
}
.input-select #butones{
  width: 100%;
  height:100%;
  text-align: center;
  border-color: white;
  color: rgb(85, 85, 85);
  padding: 23px;
  
 }



.doctorArea {
  display: flex;
  justify-content: center;
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin: 2rem;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.pogi {
  color: #007ae1;
  font-weight: 400;
}

.pogi:hover {
  color: #1fcecb;
}

#btn_doctorProfileSpace {
  margin-right: 10px;
  ;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-primary {
  color: #212121;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
  font-weight: 700;

}
#fontAwesomeFont{
  font-family: 'D-DIN', sans-serif, FontAwesome;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

.text-container h5 {
  margin: 5px 0px 10px 0px;
  color: black;
  font-size: 14px;
}

.text-container h6 {
  margin: 5px 0px 10px 0px;
  color: black;
  font-size: 12px;
}

.cancelButton {
  margin-right: 10px;
}

hr {

  margin-bottom: 30px;
}

.text-right {}

#marginBottom{
  margin-bottom:  10px;
}
#kags{
  margin-left: 10px;
}

.pard_4 {
  background-color: #ffffff;
  margin-top: 150px;
  margin-bottom: 1rem;
  padding: 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#pepeButton {
  padding: 5px;
}

#pepeButo {
  padding: 5px;
  margin-left: 2px;
}

.pepeFlex {
  display: flex;

}

#buttonQr {
  background-color: #47adb1;
  border-color: #3fbbc0;
}

#closeShit {
  margin-right: 2px;
}

.modal-body {}

#downloadPDF {
  font-weight: 400;
  background-color: #47adb1;
  border-color: #3fbbc0;
  border-radius: 5px;
}

#pdfLogo {
  margin-right: 10px;
  font-weight: 600;
  font-size: 20px;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  width: 100%;
  height: 100%;

}

img,
.samplepic {
  height: 100%;
  width: 100%;

}

.downloadPDFile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*INVOICE APPOINTMENT DETAILS*/

#wewZer {
  color: #0034BB;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Roboto", serif;
}

.containInvoice {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
}

.main-content {
  padding: 0px 20px;
}

.invoice-container {
  max-width: 550px;
  margin: auto;
  margin-top: 200px;
  padding: 3rem;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.invoice-container .top {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.invoice-container .top .top-left {
  color: #0034BB;

}

.invoice-container .top .main {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.invoice-container .top .code {
  font-size: 24px;
}

.invoice-container .top .date {
  font-size: 15px;
  color: #3a3232;
  font-weight: 500;

}

.bill-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  color: #ADADAD;
}

.bill-box .left,
.bill-box .right {
  max-width: 240px;
}

.bill-box .text-m {
  font-size: 18px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.bill-box .title {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  font-weight: 500;
  color: #070707fa;
}


.table-bill table {
  width: 100%;
  border-collapse: 0px;
  border-spacing: 0px;
  font-size: 1.5rem;
}

.table-service th,
.table-service td {
  text-align: left;
  padding: 10px 10px;
  font-weight: 500;
}

.table-service td {
  padding: 15px 10px;
}

.table-service th {
  text-transform: uppercase;
  color: #0034BB;
  font-weight: 500;
}

.table-service .quantity {
  width: 100px;
}

.table-service .cost {
  text-align: right;
  white-space: nowrap;
}

.table-service .total {
  font-size: 24px;
  color: #0034BB;
}

.table-service .total td {
  font-weight: normal;
  border-top: 2px solid #ececec;
}

.table-service .total .number {
  text-align: right;
  font-weight: 600;
}

.actions {
  text-align: center;
  margin-top: 4rem;
}

.actions .btn {
  margin: 3px;
  padding: 8px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px;
  min-width: 160px;
  color: #0034BB;
  border-radius: 8px;
  background: rgba(0, 52, 187, 0.06);
  cursor: pointer;
}

.actions .btn:hover {
  background: rgba(0, 52, 187, 0.1);
}

.note {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 12px;
  color: #ADADAD;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td{
  border:1px solid gray;
  vertical-align:text-bottom;
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th{
  border: 1px solid gray;
}
@media (max-width: 1320px) {

  

  .invoice-container .top .date {
    font-size: 14px;
  }

  .invoice-container .top .main {
    font-size: 32px;
  }

  .invoice-container .top .code {
    font-size: 15px;
  }

  .bill-box .text-m {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    font-weight: 500;
  }

  .bill-box .title {
    font-size: 1.8rem;
  }

  .table-service .total {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .invoice-container .top {
    display: block;
  }

  .invoice-container .top .top-left {
    margin-bottom: 1.5rem;
  }

  .bill-box {
    display: block;
  }

  .bill-box .left,
  .bill-box .right {
    max-width: 100%;
  }

  .table-service table,
  .table-service tbody,
  .table-service tfoot,
  .table-service td,
  .table-service th,
  .table-service tr {
    display: block;
  }

  .table-service th {
    display: none;
  }

  .table-service tbody tr {
    border-bottom: 1px solid #e5e5e5;
    color: white;
  }

  .table-service tbody tr td:first-child {
    display: none;
  }

  .table-service td {
    padding: 5px 0px;
  }

  .table-service .cost {
    text-align: left;
  }

  .table-service .total {
    margin-top: 20px;
  }

  .table-service .total td {
    border-color: white;
    font-weight: 500;
    text-align: center;

  }

  .table-service .total .number {
    text-align: left;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .actions .btn {
    width: 100%;
    margin: 5px 0px;
  }

  .header {
    display: block;
  }
}
#notespace{
  margin-bottom: 15px;
}







